@import './../../theme/colors.scss';
@import './../../theme/variables.scss';
@import './../../theme/globals.scss';

.LargeButton{
  &__background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 85%;
    min-height: 52px;
    outline: none;
    cursor: pointer;
    background: $color-large-button-primary;
    box-shadow: 0px 4px 4px $color-element-shadow;
    border-radius: 6px;
    &:hover, :active{
      transform: scale(0.95);
    }
  }
  &__text{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: normal;
    color: $color-text-enabled-button;
    text-transform: capitalize;
  }
}