$color-primary: rgb(92, 198, 208);
$color-title-bar: rgb(108, 204, 213);
$color-secondary: rgb(237, 186, 17);
$color-headline-header: rgb(54, 70, 72);
$color-background-primary: rgb(229, 229, 229);
$color-text-base: rgb(72, 72, 72);
$color-text-primary-button: rgb(72, 72, 72, 0.9);
$color-success: rgb(123, 203, 68, 0.9);
$color-loading: rgb(6, 43, 98, 0.75);
$color-alert: rgb(237, 186, 17, 0.86);
$color-danger-action: rgb(165, 9, 9, 0.86);