@import './../../theme/colors.scss';

$font-family-primary: 'Montserrat', sans-serif;
$font-family-footer: 'Roboto', sans-serif;
$box-shadow: 0px 4px 4px $color-element-shadow;

// Breakpoints
$tablet-min:   768px;
/*$laptop-min:   992px;*/
$desktop-min: 1200px;