@import './../../theme/colors.scss';
@import './../../theme/variables.scss';
@import './../../theme/globals.scss';

.AdminNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2em 0 1.3em;
  align-items: center;
  min-width: 90vw;
  margin-top: -1px;
  background-color: $color-title-bar;
  color: $color-text-base;
  font-size: 1em;
  font-weight: 600;
  box-shadow: inset $box-shadow;
  &-btnWrapper{
    height: 3.5em;
    width: 3.5em;
  }
  &-title{
    width: 8em;
    text-transform: uppercase;
    font-size: 1.15em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  &-rightBtnsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    &__container{
      display: block;
    }
  }
}
svg.MuiSvgIcon-root.backIcon{
  color: $color-icon-secondary;
  font-size: 1.35em;
}
.IconCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em;
  height: 1.6em;
  border-color: $color-icon-primary;
  border-radius: 50%;
  &-notification{
    @extend .IconCircle;
    background-color: $color-alert;
  }
  &-addEvent{
    @extend .IconCircle;
    background-color: $color-icon-secondary;
  }
}
svg.MuiSvgIcon-root.navIcon{
  color: $color-icon-primary;
  font-size: 1.25em;
}
//Tablet
@media only screen 
and (min-width : $tablet-min){
  .AdminNav{
    justify-content: space-around;
    &-title{
      width: 63vw;
    }
  }
}
//Desktop
@media only screen 
and (min-width : $desktop-min){
  .AdminNav{
    justify-content: space-around;
    padding: 0;
    &-title{
      width: 53vw;
    }
  }
}