@import './../../theme/colors.scss';
@import './../../theme/variables.scss';
@import './../../theme/globals.scss';

.LoginHeader{
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("../../theme/images/body_360x478.png");
  background-repeat: no-repeat;
  min-width: 414px;;
  height: 551px;
}

.LoginHeaderContent{
  justify-content: space-evenly;
  margin-top: 32px;
  display: flex;
  height: 80px;
  align-items: center;
  margin-left: 11px;
  &-logo{
    height: 70px;
  }
  &-text{
    font-size: 1.6em; 
    color: $color-text-negative;
  }
}

.LoginFormWrapper{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  color: $color-icon-primary;
  margin-left: 65px;
  padding-bottom: 60px;
  &-forgotPassword{
    color: $color-text-secondary;
    &:hover, :active{
      font-weight: 600 ;
    }
  }
}

.LoginFooter{
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  min-width: 415px;
  &-logo{
    bottom: 0;
    width: 80px;
    height: 116px;
  }
  @media screen and (max-height: 552px){
    position: static;
  }
}
//Media query's
//Desktop
@media screen and (min-width: $tablet-min){
  .LoginHeader{
    min-width: 100vw;
    height: 100vh;
  }
  .LoginHeaderContent{
    padding: 10px;
    height: 300px;
    margin-top: 1%;
    &-logo{
      height: 90px;
    }
    &-text{
        font-size: 4.2em;
    }
  }
  .LoginFormWrapper{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: (auto - 20%);
    margin-bottom: auto;
  }
  .LoginFooter{
    position: absolute;
    justify-content: center;
    @media screen and (max-height: 552px){
      position: static;
    }
    &-logo{
      width: 120px;
      height: 164px;
      margin-right: 230px;
    } 
  }
}
@media screen and (min-width: $desktop-min){
  .LoginHeader{
    background-image: url("../../theme/images/body_1366x768px.png");
  }
  .LoginHeaderContent{
    height: 260px;
    align-items: center;
    margin-top: 2%;
    &-logo{
      height: 100px;
    }
    &-text{
        font-size: 4.4em;
    }
  }
  .LoginFormWrapper{
    padding-bottom: 200px;
  }
  .LoginFooter{
    @media screen and (max-height: 552px){
      position: static;
    }
  }
}