@import './../../theme/colors.scss';
@import './../../theme/variables.scss';
@import './../../theme/globals.scss';

.NotFoundWrapper{
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("../../theme/images/body_360x478.png");
  background-repeat: no-repeat;
  min-width: 414px;;
  height: 551px;
  &-header{
    justify-content: space-evenly;
    margin-top: 7%;
    display: flex;
    height: 80px;
    align-items: center;
    &-logo{
      height: 75px;
    }
  }
  &-content{
    margin-top: 12%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: auto;
    padding-bottom: 60px;
    font-weight: bolder;
    &-backHome{
      width:auto;
      color: $color-text-secondary;
      &:hover, :active{
        font-weight: 500;
      }
    }
  }
  &-message{
    margin: 1em auto;
    font-size: 1.15em;
    text-align: center;
    color: $color-text-negative;
  }
  &-image{
    width: 90%;
  }
}

//Media query's
//Desktop
@media screen and (min-width: $tablet-min){
  .NotFoundWrapper{
    &-header{
      height: auto;
      margin-top: 7%;
      &-logo{
        height: 80px;
      }
    }
    &-content{
      width: 400px;
    }
    &-image{
      margin-top: 2em;
    }
  }
} 
@media screen and (min-width: $desktop-min){
  .NotFoundHeader{
    background-image: url("../../theme/images/body_1366x768px.png");
  }
  .NotFoundWrapper{
    &-header{
      height: 260px;
      align-items: center;
      margin-top: 6%;
      &-logo{
        height: 90px;
      }
    }
    &-content{
      margin-top: 5%;
      padding-bottom: 200px;
    }
    &-image{
      margin-top: 3em;
    }
  }
}