@import './../../theme/colors.scss';
@import './../../theme/variables.scss';
@import './../../theme/globals.scss';

.has-text-base {
  color: $color-text-base
}

.size-h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.LoginHeader{
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("../../theme/images/body_360x478.png");
  background-repeat: no-repeat;
  min-width: 414px;;
  height: 552px;
}

.LoginHeaderContent{
  justify-content: space-evenly;
  margin-top: 32px;
  display: flex;
  height: 80px;
  align-items: center;
  margin-left: 11px;

  &-logo{
    height: 70px;
  }

  &-text{
    font-size: 1.6em; 
    color: $color-text-negative;
  }
}

.NotFoundContent{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: $color-icon-primary;
  margin-left: 65px;
  height: 400px;
  width: 300px;
}

//Mui override
div.MuiInput{
  &-underline{
    border-bottom: $color-icon-primary;

    &:before{
      border-bottom-color: $color-icon-primary;
    }
    &:after{
      border-bottom-color: $color-icon-primary;
    }

  }
  &-underline:hover:not(.Mui-disabled):before{
    border-bottom-color: $color-icon-primary;
  }
}
div.MuiInputBase-root{
  color: $color-text-base;
  font-family: $font-family-primary;
  font-weight: 500;
}
//END-Mui override

.LoginFooter{
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  min-width: 415px;

  &-logo{
    bottom: 0;
    width: 80px;
    height: 116px;
  }

}

//Media query's
//Desktop
@media screen and (min-width: 992px){
  .LoginHeader{
    background-image: url("../../theme/images/body_1366x768px.png");
    min-width: 100vw;
    height: 100vh;
  }
  .LoginHeaderContent{
    height: 300px;

    &-logo{
      height: 90px;
    }
  
    &-text{
        font-size: 4.2em;
    }
  }

  .NotFoundContent{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  div.MuiGrid-container{
    justify-content: center;
  }
  .LoginFooter{
    &-logo{
      width: 120px;
      height: 164px;
      margin-right: 230px;
    } 
  }
}
